.list {
  margin-top: 20px;
  width: 20%;
  height: 100%;
  display:inline-block;
  margin: 20px;
  background-color: #dfe3e6;
  border-radius: 3px;
}
.list-name{
  margin-left: 10px;
  color: black;
}
.img{
  float :right;
  margin-right: 10px;
}
.deleteImg{
  width: 20px;
  height: 20px;
}

.add-list-text{
  margin: 20px;
  width: 19%;
  height:40px;
  padding: 6px;
  opacity: 0.6;
  font-size: 15px;
  /* background-color: transparent; */
  border-radius: 3px;
  background-color: rgba(0,0,0,.12);
  color: white;
}
