
.modal{
display: block; /* Hidden by default */
position: fixed;
z-index: 1; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow:scroll;
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-close{
display: none
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  width: 60%;
  color: black;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top:0;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.check-list-box{
  margin-top: 20px;
  border-radius: 5px;
  background-color: #dfe3e6;
  padding: 10px;
}
.checkItem-box{
  background-color:#A9A9A9;
  padding: 5px;
}
.delImage{
  width: 20px;
  height: 15px;
  float: right;
  margin-right: 10px;
}
.add-check-item-input{
  width:98%;
  height: 40px;
  border-radius: 10px;
  border: 0;
  padding: 5px;
}
